In [1]:
#import libraries
import pandas as pd
import numpy as np

In [3]:
socio_ec = pd.read_csv('socioec_ECF.csv')
socio_ec.columns

Index(['Unnamed: 0', 'FIPS', 'COUNTY', 'FIPSTATE', 'STATE', 'TONCO2E', 'ECF',
       'ECF_log10', 'POP', 'EMP_TOT', 'UNEMP_RATE', 'POV_RATE', 'INC_IND_TOT',
       'ED_PERCENT_TERTIARY', 'MIG_TOT', 'MIG_EU_PERCENT', 'MIG_AS_PERCENT',
       'MIG_AS_E_PERCENT', 'MIG_AS_SC_PERCENT', 'MIG_AS_SE_PERCENT',
       'MIG_AS_W_PERCENT', 'MIG_AFR_PERCENT', 'MIG_OC_PERCENT',
       'MIG_LA_PERCENT', 'MIG_LA_CAR_PERCENT', 'MIG_LA_CAM_PERCENT',
       'MIG_LA_CAM_MX_PERCENT', 'MIG_LA_SAM_PERCENT', 'MIG_NA_PERCENT',
       'MIG_LA_CAM_OTHER_PERCENT', 'EMP_AG_PERCENT', 'TONCO2E_AG_PERCENT',
       'EMP_CN_PERCENT', 'TONCO2E_CN_PERCENT', 'EMP_COMM_PERCENT',
       'TONCO2E_COMM_PERCENT', 'EMP_MF_PERCENT', 'TONCO2E_MF_PERCENT',
       'EMP_MN_REST_PERCENT', 'TONCO2E_MN_REST_PERCENT', 'EMP_PWR_PERCENT',
       'TONCO2E_PWR_PERCENT', 'EMP_OG_PERCENT', 'TONCO2E_OG_PERCENT',
       'EMP_COAL_PERCENT', 'TONCO2E_COAL_PERCENT', 'ECF_ST', 'ECF_ST_log10',
       'ECF_US', 'ECF_US_log10'],
      dtype='object')

In [5]:
# make 3 columns with top 1, 2, 3 places that migrants are from 
# mig_cols = ['MIG_AS_PERCENT',
#        'MIG_AS_E_PERCENT', 'MIG_AS_SC_PERCENT', 'MIG_AS_SE_PERCENT',
#        'MIG_AS_W_PERCENT', 'MIG_AFR_PERCENT', 'MIG_OC_PERCENT',
#        'MIG_LA_PERCENT', 'MIG_LA_CAR_PERCENT', 'MIG_LA_CAM_PERCENT',
#        'MIG_LA_CAM_MX_PERCENT', 'MIG_LA_SAM_PERCENT', 'MIG_NA_PERCENT',
#        'MIG_LA_CAM_OTHER_PERCENT']

mig_cols = [
       'MIG_AS_E_PERCENT', 'MIG_AS_SC_PERCENT', 'MIG_AS_SE_PERCENT',
       'MIG_AS_W_PERCENT', 'MIG_AFR_PERCENT', 'MIG_OC_PERCENT',
     'MIG_LA_CAR_PERCENT', 'MIG_LA_CAM_PERCENT',
       'MIG_LA_CAM_MX_PERCENT', 'MIG_LA_SAM_PERCENT', 'MIG_NA_PERCENT',
       'MIG_LA_CAM_OTHER_PERCENT']

In [40]:
#top 1,2,3
top_1 = [socio_ec.loc[i,mig_cols].sort_values(ascending=False)[0:1].index[0] for i in np.arange(len(socio_ec))]
top_2 = [socio_ec.loc[i,mig_cols].sort_values(ascending=False)[1:2].index[0] for i in np.arange(len(socio_ec))]
top_3 = [socio_ec.loc[i,mig_cols].sort_values(ascending=False)[2:3].index[0] for i in np.arange(len(socio_ec))]

In [41]:
#apply map
mig_dict = {
       'MIG_AS_E_PERCENT':'East Asia', 
       'MIG_AS_SC_PERCENT': 'South Central Asia', 
       'MIG_AS_SE_PERCENT': 'South East Asia',
       'MIG_AS_W_PERCENT': 'West Asia / Middle East', 
       'MIG_AFR_PERCENT': 'Africa', 
       'MIG_OC_PERCENT': 'Oceana',
        'MIG_LA_CAR_PERCENT': 'Caribbean' , 
        'MIG_LA_CAM_PERCENT': 'Central America',
       'MIG_LA_CAM_MX_PERCENT': 'Mexico', 
       'MIG_LA_SAM_PERCENT': 'South America', 
       'MIG_NA_PERCENT': 'North America',
       'MIG_LA_CAM_OTHER_PERCENT': 'Other Central American Region'}

In [44]:
pd.Series(top_1).map(mig_dict)

0       Central America
1       Central America
2       Central America
3       Central America
4       Central America
             ...
3135    Central America
3136    Central America
3137    Central America
3138    Central America
3139      North America
Length: 3140, dtype: object

In [45]:
socio_ec['top_1']=pd.Series(top_1).map(mig_dict)
socio_ec['top_2']=pd.Series(top_2).map(mig_dict)
socio_ec['top_3']=pd.Series(top_3).map(mig_dict)

In [46]:
socio_ec

,Unnamed: 0,FIPS,COUNTY,FIPSTATE,STATE,TONCO2E,ECF,ECF_log10,POP,EMP_TOT,...,TONCO2E_OG_PERCENT,EMP_COAL_PERCENT,TONCO2E_COAL_PERCENT,ECF_ST,ECF_ST_log10,ECF_US,ECF_US_log10,top_1,top_2,top_3
0,0,1001,Autauga,1,AL,1.574881e+06,128.370458,2.108465,55639.0,12268.25,...,0.000000,0.000000,0.000000,25.848355,1.412433,15.363654,1.186495,Central America,Mexico,South East Asia
1,1,1003,Baldwin,1,AL,7.213884e+05,9.958599,0.998198,218289.0,72438.75,...,10.106060,0.000000,0.000000,25.848355,1.412433,15.363654,1.186495,Central America,Mexico,South America
2,2,1005,Barbour,1,AL,2.859456e+05,36.429673,1.561455,25026.0,7849.25,...,0.000000,0.000000,0.000000,25.848355,1.412433,15.363654,1.186495,Central America,Mexico,Other Central American Region
3,3,1007,Bibb,1,AL,1.384258e+04,3.365978,0.527111,22374.0,4112.50,...,0.000000,0.000000,0.000000,25.848355,1.412433,15.363654,1.186495,Central America,Other Central American Region,South Central Asia
4,4,1009,Blount,1,AL,1.144394e+05,13.275642,1.123056,57755.0,8620.25,...,0.000000,0.000000,0.000000,25.848355,1.412433,15.363654,1.186495,Central America,Mexico,Other Central American Region
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,3135,56037,Sweetwater,56,WY,1.190877e+07,537.508680,2.730385,43352.0,22155.50,...,11.123293,2.306425,2.269416,168.862599,2.227533,15.363654,1.186495,Central America,Mexico,South America
3136,3136,56039,Teton,56,WY,4.792909e+04,2.305391,0.362745,23356.0,20790.00,...,6.075221,0.000000,0.000000,168.862599,2.227533,15.363654,1.186495,Central America,Mexico,South America
3137,3137,56041,Uinta,56,WY,7.890038e+05,95.402657,1.979560,20374.0,8270.25,...,78.855612,NaN,0.498330,168.862599,2.227533,15.363654,1.186495,Central America,Mexico,Other Central American Region
3138,3138,56043,Washakie,56,WY,1.297570e+05,37.962847,1.579359,7933.0,3418.00,...,28.690247,0.000000,0.000000,168.862599,2.227533,15.363654,1.186495,Central America,Mexico,North America
3139,3139,56045,Weston,56,WY,2.246881e+05,103.388081,2.014470,6942.0,2173.25,...,25.394998,0.000000,0.000000,168.862599,2.227533,15.363654,1.186495,North America,East Asia,South East Asia

In [48]:
#download
socio_ec.to_csv('socioec_ECF.csv')